.sliderContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100vh;

    font-family: 'Poppins', sans-serif;
    background-color: transparent;

    .slider{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        background-color: transparent;
        background-image: url("https://as2.ftcdn.net/v2/jpg/04/82/60/55/1000_F_482605566_hs4lZwFXAU0rQoqbNopK74zQ5g0cEt0R.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        height: 100vh;

        .sliderContentText{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 1rem 0;

            font-family: 'Poppins', sans-serif;
            color: #fff;
            text-align: center;

            padding: 0 1rem;
            background-color: transparent;

            h1{
                font-size: clamp(1rem, 8vw, 2rem);
                font-weight: 400;
                margin-bottom: 1rem;
                
                letter-spacing: 3px;
            }

            p{
                font-size: clamp(1rem, 6vw, 3rem);
                margin-bottom: 1rem;
            }
        }
        .sliderContentImage{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            width: 100%;
            max-width: 1000px;

            overflow: hidden;
            background-color: transparent;
            
            padding: 1rem;

            img{
                object-fit: cover;
            }

            .sliderSkip{
                display: flex;
                align-items: center;
                justify-content: space-around;

                width: 100%;
                height: 100%;

                font-size: 1.5rem;
                font-weight: 500;
                color: #fff;
                text-decoration: none;
                text-align: center;
                background: transparent;
                cursor: pointer;
                
            }
        }
    }
}